body {
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  background-color: lightblue;
}

h2 {
  text-align: center;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.locked {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  color: red;
}

.unlocked {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  color: green;
}

.text {
  margin-top: 10px;
}

#top {
  margin: auto;
  width: 40%;
  margin-top: 25px;
  border-radius: 5px;
  background-color:grey;
  padding: 20px;
}

.ach {
  margin: auto;
  width: 80%;
  margin-top: 25px;
  border-radius: 5px;
  background-color: grey;
  padding: 20px;
}





#dfs {
  margin: auto;
  background-color: #0087eb;
  width: 85%;
  margin-top: 25px;
  border-radius: 25px;
  padding: 10px;
}


.innerbox {
  position: absolute;

  font-size: 20px;
  font-weight: bold;
  width: 200px;
}
