body {
  background-color: #90ccfe;
  font-family: Verdana, sans-serif;

}


#space {
  height:0px;
}
#space2 {
  height:20px
}

#topemail {

  text-align:center;

  padding: 8px;

  color: white;
  background-color: #0e274c;
  margin-bottom: 20px;
  border-radius: 12px;
}

#fact {
  text-align:center;

  position: relative;
  color: white;
}

#containerCenter {
  z-index:0;
  padding-top: 0px;
}

#centerPiece {
  z-index:0;
  display:block;
  margin: auto;

}

#centerCover {
  z-index:1;
  width: 427px;
  height: 240px;
  display:block;
  margin:auto;
  transform: translate(0px, -240px);
}

#container {
  z-index:0;
  position: relative;

  width: 100%;

  display: block;
  box-sizing: border-box;

  /*the div boxes wont align properly because they aren't texts*/
}

.links {
  background-color: 	#c8d8e4;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 630px;
  height: 70px;
  padding-top: 1px;
  border-style: solid;
  border-color: transparent black transparent black;
  border-width: 3px;
}


.topp {
  background-color: 	#c8d8e4;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 630px;
  height: 40px;
  padding-top: 5px;
  border-style: solid;
  border-color: transparent black transparent black;
  border-width: 3px;
}

#weeks {
  background-color: 	#c8d8e4;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 630px;
  height: 25px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: transparent black transparent black;
  border-width: 3px;
}

.link {
  /* transform: translate(0px, -240px); */
  text-align: right;
  width: 65px;
  height: 65px;
  background-color: #f2f2f2;
  position:relative;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 9px;

}
.week {
  /* transform: translate(0px, -240px); */
  text-align: center;
  width: 65px;
  height: 25px;
  background-color: #a8b6ba;
  position:relative;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 9px;

}

#calTop {

  border-style: solid;
  border-color: black black transparent black;
  border-width: 3px;
  font-weight: bold;
  border-radius: 12px 12px 0px 0px;
}

#calBot {
  background-color: 	#c8d8e4;
  border-style: solid;
  border-color: transparent black black black;
  border-width: 3px;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 630px;
  height: 30px;
  border-radius: 0px 0px 12px 12px;
}

#bottomLinks {
  /*background-color: 	#c8d8e4; */
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 630px;
  height: 70px;
  padding-top: 40px;

}

.bottomLink {
  text-align: center;
  width: 20%;
  height: 65px;
  font-weight: bold;
  position:relative;
  margin-left: 3px;
  margin-right: 3px;

}

.arrow {
  text-align: center;
  width: 22px;
  height: 22px;
  background-color: #f2f2f2;
  position:relative;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 9px;
}

#Month {
  text-align: center;
  font-family: "Times New Roman", serif;
  font-size: 23px;
  width: 40%;


  position:relative;
  margin-left: 3px;
  margin-right: 3px;

}


.linkPic {
  width: 65px;
  height: 65px;
  border-radius: 20px;
  text-align: center;
}
.centered {
  z-index:3;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}


.topElem {
  position:relative;
  z-index:1;
  float: right;
  padding-right: 15px;
}


#left {
  z-index:0;
  left: 3%;
  position: absolute;
  margin-top: 40px;
}

#right {
  z-index:0;
  right: 5%;
  position: absolute;

}

.innerbox {
  background-color: #c8d8e4;
  border-radius: 12px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  position: absolute;
  z-index:0;
  font-size: 20px;
  font-weight: bold;
  width: 400px;

  padding-left: 30px;
  padding-right: 30px;
  /*box-sizing: border-box;*/
  /*line-height: 150%;*/
}
#container {
  z-index:0;
  position: relative;

  width: 100%;

  display: block;
  box-sizing: border-box;

  /*the div boxes wont align properly because they aren't texts*/
}
