<!DOCTYPE html>
<html>
    <head>
        <title>Meal O' Clock</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
    </head>
</html>

<body>
    <div>
        <header id="banner">
            <img src="logo.png" alt="Meal O' Clock">
            <h1>Meal O' Clock</h1>
        </header>
    </div>

    <div>
        <h1>About Us</h1>
        <h3>What is Meal O Clock?</h3>
        <p>Meal O Clock is your one stop shop for are your meal planning needs. Developed at UB by a crack team of developers,
            this site aims to revolutionize the way you plan your meals and count your calories. 
        </p>
    </br>
        <h3>Who is Meal O Clock?</h3>
        <p>Jake Vickerd</br>
           Robert Amm</br>
           Avi Tombak</br>
           Radin Ahmed</br>
           Benjamin Schultes</br>
        </p>
    </div>

</body>
