<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/background-frame.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #2a2e41">
    <input type="hidden" id="anPageName" name="page" value="background-frame" />
    <div class="container-center-horizontal">
      <div class="background-frame screen">
        <div class="overlap-group">
          <div class="page-background"></div>
          <div class="menu-background"></div>
          <div class="weekly-calendar-background"></div>
          <img class="divider" src="img/divider@2x.svg" />
          <img class="divider-1" src="img/divider-1@1x.svg" />
          <img class="divider-2" src="img/divider-2@1x.svg" />
          <img class="border" src="img/border@1x.svg" />
          <img class="border-1" src="img/border-1@1x.svg" />
          <img class="border-2" src="img/border-2@1x.svg" />
          <img class="border-3" src="img/border-3@1x.svg" />
          <img class="calendar-page" src="img/calendar-page@1x.svg" />
        </div>
      </div>
    </div>
    Foodname ... <span id="result"></span>
    <script>
        document.getElementById("result").innerHTML= localStorage.getItem("foodvalue")
    </script>
    <a href="/profile">Settings</a>
  </body>
</html>
