{% extends 'base.html' %}

{% block title %}
  <title>Sign up</title>
{% endblock %}

{% block content %}
  <h1>Create a New Account</h1>
  <form action={{url_for('create_account_page')}} method='post'>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password">
    <label for="height-feet">Height (ft.): </label>
    <input id="height-feet" type="number" name="height_ft"> <br/>
    <label for="height-inches">Height (in.)</label>
    <input id="height-inches" type="number" name="height_in"> <br/>
    <label for="weight-pounds">Weight (lb.): </label>
    <input id="weight-pounds" type="number", name="weight">
    <label for="age">Age: </label>
    <input id="age" type="number" name="age"> <br/>
    <h3>Input 0 for male, 1 for female, or 2 for other</h3>
    <label for="gender">Gender: </label>
    <input id="gender" type="number" name="gender"> <br/>
    <h3>Input 1 for little/no weekly exercise, 2 for light weekly exercise, 3 for moderate exercise, 4 for hard exercise, and 5 for extra hard exercise</h3>
    <label for="act">Level of activity: </label>
    <input id="act" type="number" name="act"> <br/>
    <br><br>
    <input type="submit" value="Create Account">
  </form>
  <li><a href={{url_for('sample_page')}}>Back</a></li>
{% endblock %}
