<!DOCTYPE html>
<head>
  <title>Sign up</title>
</head>
<body>
  <h1>Create a New Account</h1>
  <form action={{url_for('create_account_page')}} method='post'>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password">
    <br><br>
    <input type="submit" value="Create Account">
  </form>
  <li><a href={{url_for('sample_page')}}>Back</a></li>

  <footer>
    <a id="aboutus" href="/aboutus">About Us</a>
  </footer>

</body>
